@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .mySwiper .swiper-pagination-bullet {
  background-color: gray;
  width: 12px;
  height: 12px;
  opacity: 0.7;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: blue;
  opacity: 1;
} */


.mySwiper {
  padding-bottom: 4rem; /* به اندازه کافی فضای پایین اضافه می‌کنه */
}

/* یا مستقیم روی pagination */
.mySwiper .swiper-pagination {
  top: 80px !important;
}


